@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#page-container {
  border: black 3px dashed;
  display: flex;
  height: 90vh;
}

#surfing {
  border: blue 3px solid;
  flex: 1 1 auto;
  /* background-image: url("ryan-loughlin-HXqpJnLyHzg-unsplash.jpg");
  background-size: cover; */
  display: flex;
  flex-direction: column; 
}

#above-logo {
  border: maroon 3px solid;
  flex: 3 1 400px;
  /* height: 400px; */
  
}

#logo {
  border: green 3px solid;
  flex: 1 1 200px;
  opacity: 0.5;
  /* height: 200px; */
}

#below-logo {
  border: darkslategrey 3px solid;
  flex: 1 1 200px;
  /* height: 300px; */
}

#content {
  border: sienna 3px solid;
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
}

#cta {
  border: darkkhaki 3px solid;
  flex: 1 1 auto;

}

#form {
  border: darkolivegreen 3px solid;
  flex: 1 1 auto;
}

#submit {
  border: darkmagenta 3px solid;
  flex: 1 1 auto;

}

