@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#page-container {
  border: black 3px dashed;
  display: flex;
  height: 80vh;
  max-width: 1000px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#surfing {
  border: blue 3px solid;
  flex: 1 1 auto;
  background-image: url("ryan-loughlin-HXqpJnLyHzg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; 
}

#above-logo {
  border: maroon 3px solid;
  flex: 3 1 auto;
}

#logo {
  border: green 3px solid;
  flex: 1 1 auto;
  opacity: 0.7;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  max-height: 8rem;
  color: white;
}

img {
  height: 4rem;  
}

#odin {
  font-size: 2rem;
}

#below-logo {
  border: darkslategrey 3px solid;
  flex: 1 1 auto;
}

#content {
  border: sienna 3px solid;
  flex: 2 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#cta {
  border: darkkhaki 3px solid;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cta-text {
  max-width: 30rem;
}

#form {
  border: darkolivegreen 3px solid;
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}

label {
  flex: 0 1 auto;
  margin: 5px;
  padding-right: 40px;
  min-width: 200px;
}

input {
  display: block;
}

#submit {
  border: darkmagenta 3px solid;
  flex: 1 1 auto;

}

